body {
  background-color:#252535;
}

main {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  height:calc(5vh + 360px);
}

.snake-fields {
  position:absolute;
}

#playground {
  position:absolute;
  width:300px;  
  height:360px;
  border: 10px solid #523a31;
  border-radius: 2%;
}

#game-manager {
  z-index:1;
}

#game-manager > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display:none;
}
