html,body {
  height:90%;
}

body {
  background-color: #82969c;
}

main {
  display:flex;  
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%;
}

main, main > section {
  position:relative;
}

main > section:nth-of-type(2) {
  width:320px;
  height:320px;
}

#stat {
  margin:0 0 .5em 0;
}

#stat > span:nth-of-type(1) {
  color:transparent;
  background-color:#e0b200;
}

#playground {
  box-shadow:5px 5px 5px grey;  
}

#playground > canvas {
  /*outline:1px solid blue;*/
  position:absolute;
}

#dynamic-field {
  z-index:3;
}
#semi-static {
  z-index:2;
}
#background-grid {
  z-index:1;
}

#start {
  position:relative;
  z-index:4;
  top:30%;
  width:100%;
  /*outline:1px solid red;*/
  display:flex;
  flex-direction:column;
  align-items:center;
  visibility:hidden;
}

#start > span {
  outline:1px solid red;
  color:ivory;
}

result-box {
  position:relative;
  display:none;
}
